#srjcartcontainer{
    margin: 10px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#srjcartheader{
    text-align: center;
    padding: 5px;
}
#srjcartheader>h1{
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    padding: 5px;
    margin: 20px;
}
#srjcartheader>h3{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
#srjcartbody{
    text-align: center;
    border: 1px solid yellow;
    margin: 0.5%;
    padding: 2%;
    justify-content: center;
    margin: auto;
}
#srjcartbody>h3{
    text-align: center;
    border: 1px solid red;
    padding: 0.5%;
    justify-content: center;


}
#cartimgsrj{
    margin-top: 15vh;
    margin-bottom: 5vh;
    justify-content: center;
}
#cartbtnsrj{
    border: 1px solid blue;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    align-items: center;
    margin-top: 15vh;

}
.srjbtns{
    width: 30%;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: rgb(29, 27, 27);
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
.srjbtns:hover{
    border: 3px solid black;
    scale: 1.09;
    color: black;
    background-color: whitesmoke;
    transition: .3s ease-in-out;
}

#displaygridsrj{
    display: grid;
    grid-template-columns: repeat(3,265px);
    border: 1px dotted red;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    
}



.imgcontsrj{
    width: 100%;
    height: 60%;
    border:  1px dotted green;
}
.imgcontsrj>img{
    height: 100%;
    width: 100%;

}
.pouchsrj{
    border: 1px dotted blue;
    height:65vh;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 248, 241);
    border-radius: 6%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.srjcartbtn{
    font-weight: 400;
    font-size:medium;
    color: whitesmoke;
    background-color: black;
    border:1px solid grey;
    border-radius: 20px;
    padding: 2%;
    width:55%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.srjcartbtn:hover{
    
    background-color: rgb(12, 126, 12);
    color: black;
    /* border:4px solid rgb(19, 18, 18); */
    font-weight: bolder;
    cursor: pointer;
    scale: 1.08;
    transition: 0.6s ease-in-out;
    
}
.srjremovebtn:hover{
    
    background-color: rgb(226, 28, 28);
    color: black;
    /* border:4px solid rgb(23, 19, 19); */
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    scale: 1.08;
    
    
}
.srjremovebtn{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 400;
    font-size:medium;
    color: rgb(220, 203, 203);
    background-color: rgb(177, 24, 24);
    border:1px solid grey;
    border-radius: 20px;
    padding: 2%;
    width:55%;
}

#srj_checkout_btn{
    font-size: large;
    font-weight: bolder;
    padding: 1.2%;
    margin: 3vh;
    border-radius: 10px;
    background-color: rgba(35, 255, 109, 0.686);
}
#srj_checkout_btn:hover{
    
    background-color: rgba(0, 225, 75, 0.686);
    font-size: larger;
    font-weight: bolder;
    scale: 1.05;
    transition: 0.2s ease-in;
}
