@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

 
#footer{
    /* border: 1px solid green; */
    justify-content:center;
    position: absolute;
    bottom: 0;
    position: static;
    left: 0;
    right: 0;
    background: rgba(240, 255, 218, 0.576);
    height: auto;
    padding-top: 40px;
    color: black;
    padding: 15px;
}
.desfoot{
    margin-top: 3%;
    /* border: 1px solid red; */
    width: 12%;
}
.desfoot h1{
    margin-bottom: 10px;
    padding: 5px;
    /* border: 1px solid red; */
}
#footer a{
    letter-spacing: 1px;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: larger;
    font-weight:700;
    font-family: 'SuisseIntl';
    padding: 3px;
 
}
#footer a:hover{
    color:black;
 
}
.detail{
    padding: 1px;
}
.detail:hover{
    text-decoration: underline;
 
}
#firstfoot{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    width: 99%;
    margin: auto;
 
}
#srjicon{
    display: flex;
    /* border:  1px solid red; */
    justify-content: space-around;
}
 
 
#srjmedia{
    width: 15%;
    margin-top: 3%;
    /* border: 1px solid red; */
}
.srjmedia:hover{
    scale: 1.5;
    transition: 0.3s ease-in-out;
   
}
#srjmediatitle{
    padding: 5px;
 
}
#srj_inpfoot{
    font-size:xx-large;
    text-decoration: none;
    width: 90%;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 20px;
 
}
 
.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.checkbox__input{
    display: none;
}
.checkbox__box{
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
}
 
.checkbox__box::after{
    content: '\2714';
    color: #ffffff;
}
 
.checkbox__input:checked + .checkbox__box{
 
    background: black;
    border-color: #ffffff;
 
}
.srjtp{
    margin-left: 5px;
}
#srjsubbutn{
    height: 3em;
    width: 10em;
    margin-left: 35px;
    margin-top: 10px;
border-radius: 8px;
padding: 5px;
font-size: medium;
font-weight: 500;
}
#srjsubbutn:hover{
    color: rgb(244, 243, 242);
    background-color: rgba(30, 23, 23, 0.759);
    scale: 1.4;
    transition: 0.4s ease-in;
}
#srjwriten{
    letter-spacing: 1px;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: larger;
    font-weight:700;
    font-family: 'SuisseIntl';
    padding: 3px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 2.2em;
    font-size: 1.3em;
 
}
.srjhori{
    margin-top: 4em;
    margin-bottom: 2em;
}
 
#srjfstcpl>img{
   
    width: 100%;
}
#srjafterhori{
    height: auto;
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
 
    justify-content:space-between;
 
   
}
#srjfstcpl{
    width: 16%;
    /* border:  2px dotted yellowgreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
#srjimgfootcover{
    width: 20%;
}
#srjimgfooterlast{
    width: 40%;
    /* border: 1px dotted blue; */
    display: flex;
    justify-content: space-between;
}
.srjimgmedialast{
    width: 7%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 1px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
.srjimgmedialast:hover{
    cursor: pointer;
    scale: 1.3;
    transition: 0.4s ease-in-out;
 
}
.srjimgmedialast>img{
    width: 100%;
 
}
 
 

